<main role="main">
  <form class="form-create-album" #createAlbum="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputAlbumTitle">Album Title</label>
      <input type="text" id="inputAlbumTitle" class="form-control" placeholder="Album Title" required autofocus
             [(ngModel)]="album.title" name="title">
    </div>
    <div class="form-group">
      <label for="inputAlbumDescription">Description</label>
      <textarea id="inputAlbumDescription" class="form-control" placeholder="Description" required autofocus
                [(ngModel)]="album.description" name="description"></textarea>
    </div>
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
            [disabled]="!createAlbum.form.valid">Create Album</button>
  </form>
</main>
