<main role="main">
  <h1>Edit Profile</h1>

  <div class="card text-white bg-success mb-3 px-1" *ngIf="success">
    Successfully updated profile!
  </div>

  <div class="card text-white bg-danger mb-3 px-1" *ngIf="password_incorrect">
    Password incorrect! Please enter correct password to update profile.
  </div>

  <form class="form-new-user" #editProfile="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputUsername">Username: </label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
             [(ngModel)]="user.username" name="username">
    </div>
    <div class="form-group">
      <label for="inputFirstName">Display Name: </label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="Display Name" autofocus
             [(ngModel)]="user.first_name" name="first_name">
    </div>
    <div class="form-group">
      <label for="inputLastName">Association: </label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Association" autofocus
             [(ngModel)]="user.last_name" name="last_name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email: </label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Email" required autofocus
             [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="inputBio">Biography: </label>
      <textarea id="inputBio" class="form-control" placeholder="Biography" autofocus
                [(ngModel)]="user.profile.bio" name="bio"></textarea>
    </div>

    <div class="form-group">
      <label for="inputPassword">Enter Password to confirm profile edit: </label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus
             [(ngModel)]="user.password" name="password">
    </div>

    <div class="card text-white bg-danger mb-3 px-1" *ngIf="password_incorrect">
      Password incorrect! Please enter correct password to update profile.
    </div>

    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
            [disabled]="!editProfile.form.valid">Update Profile</button>
  </form>

</main>
