<main role="main">
  <h1>Add New User</h1>

  <form class="form-new-user" #newUser="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputUsername">Username: </label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
             [(ngModel)]="user.username" name="username">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password: </label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus
             [(ngModel)]="user.password" name="password">
    </div>
    <div class="form-group">
      <label for="inputConfirmPassword">Confirm Password: </label>
      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus
             [(ngModel)]="user.confirmpassword" name="confirmpassword">
    </div>
    <div class="form-group">
      <label for="inputFirstName">First Name: </label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus
             [(ngModel)]="user.first_name" name="first_name">
    </div>
    <div class="form-group">
      <label for="inputLastName">Last Name: </label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus
             [(ngModel)]="user.last_name" name="last_name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email: </label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus
             [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="inputBio">Bio: </label>
      <input type="text" id="inputBio" class="form-control" placeholder="Biography" required autofocus
             [(ngModel)]="user.profile.bio" name="bio">
    </div>

    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
            [disabled]="!newUser.form.valid">New User</button>
  </form>

</main>
